@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
  --font-inter: Inter, sans-serif;
  --font-sans: var(--font-inter), sans-serif;
  --font-mono: var(--font-jetbrains), monospace;

  --font-size-h1: 1.25rem;
  --font-weight-h1: 600;
  --font-size-h1-desktop: 1.5rem;

  --font-size-h2: 1rem;
  --font-weight-h2: 600;
  --font-size-h2-desktop: 1rem;

  --font-size-h3: 0.875rem;
  --font-weight-h3: 500;
  --font-size-h3-desktop: 0.875rem;

  --font-size-h4: 0.875rem;
  --font-weight-h4: 500;
  --font-size-h4-desktop: 0.875rem;

  --font-size-h5: 0.875rem;
  --font-weight-h5: 500;
  --font-size-h5-desktop: 0.875rem;

  --color-gray-200: #e5e5e5;
  --color-gray-500: #5c5c5c;

  --color-pink-50: rgb(255 0 174 / 0.5);
  --color-pink-100: #e7c0db;
  --color-pink-200: #c698b8;
  --color-pink-600: #ff00ae;

  --color-violet-50: #e2dce7;
  --color-violet-100: #775c90;
  --color-violet-600: #6727a6;
  --color-violet-900: #3c1661;

  --color-red-600: #d23f63;
  --color-green-600: #67c076;

  --gradient-linear: linear-gradient(to left, #6727a6, #3c1661);

  --custom-cubic-bezier: cubic-bezier(0.36, 0, 0.54, 1);
}

@utility text-h1 {
  font-size: var(--font-size-h1);
  font-weight: var(--font-weight-h1);
}

@utility text-h1-desktop {
  font-size: var(--font-size-h1-desktop);
  font-weight: var(--font-weight-h1);
}

@utility text-h2 {
  font-size: var(--font-size-h2);
  font-weight: var(--font-weight-h2);
}

@utility text-h2-desktop {
  font-size: var(--font-size-h2-desktop);
  font-weight: var(--font-weight-h2);
}

@utility text-h3 {
  font-size: var(--font-size-h3);
  font-weight: var(--font-weight-h3);
}

@utility text-h3-desktop {
  font-size: var(--font-size-h3-desktop);
  font-weight: var(--font-weight-h3);
}

@utility text-h4 {
  font-size: var(--font-size-h4);
  font-weight: var(--font-weight-h4);
}

@utility text-h4-desktop {
  font-size: var(--font-size-h4-desktop);
  font-weight: var(--font-weight-h4);
}

@utility text-h5 {
  font-size: var(--font-size-h5);
  font-weight: var(--font-weight-h5);
}

@utility text-h5-desktop {
  font-size: var(--font-size-h5-desktop);
  font-weight: var(--font-weight-h5);
}

@utility bg-gradient-linear {
  background-image: var(--gradient-linear);
}
@utility shadow-pink {
  box-shadow: 0 4px 12px rgba(255, 0, 174, 0.15);
}

body {
  position: relative;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  50% {
    opacity: 0;
    transform: translateY(15px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in-up {
  animation: fadeInUp 1000ms var(--custom-cubic-bezier) 1000ms forwards;
  opacity: 0;
}

.animate-fadeInUp {
  animation: fadeInUp 1000ms var(--custom-cubic-bezier) forwards;
  opacity: 0;
}

@keyframes keysSlideInUp {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-keysSlideInUp {
  animation: keysSlideInUp 800ms ease-out forwards;
  opacity: 0;
}
